@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway_300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

html body,
.ivu-divider {
	font-family: 'Raleway', 'Microsoft YaHei' !important;
	background: #000;
}

body,
html {
	height: 100%
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0
}

.clearfix {
	zoom: 1;
}

.fl {
	float: left
}

.fr {
	float: right
}

* {
	margin: 0;
	padding: 0
}

fieldset,
img,
input {
	border: 0;
	background: none
}

address,
caption,
cite,
code,
dfn,
em,
i,
optgroup,
strong,
th,
var {
	font-style: normal;
	font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400
}

button,
input,
optgroup,
option,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	*font-size: 100%
}

body {
	line-height: 1.5;
	font-size: 14px;
}

li,
ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

a:focus {
	outline: none
}

.fade-enter {
	opacity: 0;
}

.fade-leave {
	opacity: 1;
}

.fade-enter-active {
	transition: opacity .5s;
}

.fade-leave-active {
	opacity: 0;
	transition: opacity .5s;
}

.login {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ivu-card-bordered {
	position: relative;
	z-index: 999;
	margin: 0 auto;
	width: 400px;
	border: none;
	background: none;
}

.login .ivu-input-wrapper {
	margin: 0 0 20px 0;
}

.login .ivu-card-body {
	padding: 20px 40px 40px 40px;
}

canvas {
	transition: all .15s .1s ease-in-out;
}

.deploy {
	display: flex;
	background: rgb(244, 243, 245);
}

.leftNav {
	float: left;
	height: 100vh;
	background: #515a6e;
	position: relative;
	font-size: 20px;
	transition: all linear 1s;
}

.leftNav img {
	display: block;
	margin: 20px auto;
}

#app .error {
	font-size: 200px;
	text-align: center;
	width: 100%;
	color: #fff;
	text-shadow: -1px 1px 0px #5f5f5f;
	line-height: 100vh;
}

.leftBottom {
	position: absolute;
	bottom: 0;
	right: 40px;
	height: 60px;
	line-height: 60px;
	text-align: center;
    color: #6d6b6b;
    font-size:14px;
}

.leftBottom i {
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -3px;
}

.ivu-menu {
	font-size: 16px;
}

.subMain {
	position: relative;
	margin: 20px 20px 41px;
	width: calc(100% - 40px);
	background: #fff;
	border: 1px solid #D9DEE4;
	padding: 20px;
	min-height: calc(100vh - 121px)
}

#app {
	position: relative;
	z-index: 2010;
	width: 100%;
	height: 100%;
}

/*Header*/
.nav {
	position: relative;
	height: 60px;
	background: #EDEDED;
	border-bottom: 1px solid #D9DEE4;
    line-height: 60px;
    font-size: 20px;
}

.nav i {
	font-size: 26px;
	vertical-align: middle;
	margin-left: 20px;
    cursor: pointer;
    margin:-2px 10px 0 20px;
}

.right {
	flex-grow: 1;
	position: relative;
}

.ivu-btn-group {
	margin-bottom: 20px;
}

.v-transfer-dom {
	position: relative;
	z-index: 2011;
}

.ivu-page {
	margin-top: 20px;
}

.copyright {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.active.leftNav img {
	display: none;
}

.active.leftNav ul {
	width: 40px !important;
}

.active.leftNav ul .ivu-menu-submenu-title-icon {
	display: none
}

.active.leftNav ul .ivu-menu-submenu-title {
	font-size: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.active.leftNav ul .ivu-menu-submenu-title i {
	font-size: 20px;
	margin: 0;
}

.active.leftNav ul .ivu-menu-submenu:hover ul {
	display: block !important;
}

.active.leftNav ul .ivu-menu-submenu {
	position: relative;
}

.active.leftNav ul .ivu-menu-submenu ul {
	position: absolute;
	left: 40px;
	top: 0;
	display: none;
}

.active.leftNav ul .ivu-menu-submenu ul li {
	padding: 0 !important;
	width: 140px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #515a6e;
}

.active.leftNav .ivu-menu-dark.ivu-menu-vertical .ivu-menu-child-item-active .ivu-menu-submenu-title {
	background: #2d8cf0;
}

.active.leftNav .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item:hover {
	background: #2d8cf0 !important;
	color: rgba(255, 255, 255, .7) !important;
}

.ivu-table table {
	width: auto !important;
}

.nav span{vertical-align: middle;font-size: .22rem;font-weight: bold;text-shadow: 1px 1px 1px #fff;letter-spacing: 2px;}























/* .ivu-spin-fullscreen-wrapper{left: 240px;}
.ivu-spin-fullscreen-wrapper::after{content: '';width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 2012;}
.ivu-spin-fullscreen.ivu-spin-fix{background: #515a6e;}
.ivu-spin-fullscreen.ivu-spin-fix .ivu-spin-main{position: static;left: 0;top: 0;transform: none;}
.loadinger {position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-mos-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align:center;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default}
.loadinger {width:80%;height:36px;overflow:visible}
.loadinger div {position:absolute;width:30px;height:36px;margin:0 10px;opacity:0;animation:move 2s linear infinite;-o-animation:move 2s linear infinite;-moz-animation:move 2s linear infinite;-webkit-animation:move 2s linear infinite;transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);color:#fff;font-size:3em}
.loadinger div:nth-child(8)::before {content:'';position:absolute;bottom:-15px;left:0;width:30px;height:30px;background:#db2f00;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.loadinger div:nth-child(9)::before {content:'';position:absolute;bottom:-15px;left:0;width:30px;height:30px;background:#f2f2f2;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.loadinger div:nth-child(10)::before {content:'';position:absolute;bottom:-15px;left:0;width:30px;height:30px;background:#13a3a5;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.loadinger div::after {content:'';position:absolute;bottom:-40px;left:0;width:30px;height:5px;background:#39312d;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.loadinger div:nth-child(2) {animation-delay:.2s;-o-animation-delay:.2s;-moz-animation-delay:.2s;-webkit-animation-delay:.2s}
.loadinger div:nth-child(3) {animation-delay:.4s;-o-animation-delay:.4s;-webkit-animation-delay:.4s;-webkit-animation-delay:.4s}
.loadinger div:nth-child(4) {animation-delay:.6s;-o-animation-delay:.6s;-moz-animation-delay:.6s;-webkit-animation-delay:.6s}
.loadinger div:nth-child(5) {animation-delay:.8s;-o-animation-delay:.8s;-moz-animation-delay:.8s;-webkit-animation-delay:.8s}
.loadinger div:nth-child(6) {animation-delay:1s;-o-animation-delay:1s;-moz-animation-delay:1s;-webkit-animation-delay:1s}
.loadinger div:nth-child(7) {animation-delay:1.2s;-o-animation-delay:1.2s;-moz-animation-delay:1.2s;-webkit-animation-delay:1.2s}
.loadinger div:nth-child(8) {animation-delay:1.4s;-o-animation-delay:1.4s;-moz-animation-delay:1.4s;-webkit-animation-delay:1.4s}
.loadinger div:nth-child(9) {animation-delay:1.6s;-o-animation-delay:1.6s;-moz-animation-delay:1.6s;-webkit-animation-delay:1.6s}
.loadinger div:nth-child(10) {animation-delay:1.8s;-o-animation-delay:1.8s;-moz-animation-delay:1.8s;-webkit-animation-delay:1.8s} */
/* @keyframes animate{
	0% {top: 100%;opacity: 0}
	35% {top: 65%;opacity: .35}
	65% {top: 35%;opacity: .65}
	100% {top: 0;opacity: 1}
}

@keyframes move {
	0% {right:0;opacity:0}
	35% {right:41%;-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
	65% {right:59%;-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
	100% {right:100%;-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0}
}
@-moz-keyframes move {
	0% {right:0;opacity:0}
	35% {right:41%;-moz-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
	65% {right:59%;-moz-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
	100% {right:100%;-moz-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0}
}
@-webkit-keyframes move {
	0% {right:0;opacity:0}
	35% {right:41%;-webkit-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
	75% {right:59%;-webkit-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
	100% {right:100%;-webkit-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0}
}
@-o-keyframes move {
	0% {right:0;opacity:0}
	35% {right:41%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
	65% {right:59%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1}
	100% {right:100%;-o-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0}
} */






.showUser li strong {
	width: 130px;
	text-align: right;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.page_title {
	height: 40px;
	font-size: 16px;
	font-weight: 700;
	position:relative;
}

.top_btn {
	width: 100%;
}

.f_box {
	margin: auto;
	padding-top: 24px;
	width: 300px;
}

.ivu-form-item {
	margin-bottom: 15px;
}

.ivu-table-cell {
	padding-left: 0;
	padding-right: 0;
}

.account_subMain_section_footer {
	position: relative;
	bottom: 0;
	padding-top: 21px;
	width: calc(100% - 40px);
	height: 54px;
	text-align: right;
}

.ivu-message {
	z-index: 9999 !important;
}

.ivu-form-item-error-tip {
	padding-top: 2px
}

.vertical-center-modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical-center-modal .ivu-modal {
	top: 0;
}


/*自定义滚动条样式*/
.sbar{
	overflow-y: auto;
}
.sbar::-webkit-scrollbar{
	width: .08rem;
	height: .08rem;
}
.sbar::-webkit-scrollbar-track{
	background: rgba(0,0,0,.2);
	border-radius: .08rem;
}
.sbar::-webkit-scrollbar-track-piece{/*内层轨道，滚动条中间部分（位置4）*/
	border-radius: .02rem .02rem 0 0;
}
.sbar::-webkit-scrollbar-thumb{
	background: rgba(255,255,255,.6);
	border-radius: .06rem;
}
.sbar::-webkit-scrollbar-thumb:hover{
	background: rgba(255,255,255,.7);
}
.sbar::-webkit-scrollbar-corner{
	background: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff !important;
    transition: background-color 0s ease-in-out 1000s;
}
.use{position: absolute;bottom:10px;width: 100%;text-align: center;color: #ccc;font-size: 16px;}
.use i{vertical-align: middle;margin-right: 5px;margin-top: -4px;}